<!doctype html>
<title>presentr</title>
<head>
    <link rel="icon" href="{{ url_for('static', filename='grafx/favicon.ico') }}">
</head>
<body background="{{ url_for('static', filename='grafx/bg.png') }}">
 <font face="Comic Sans MS">
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    <center>
        <img src="{{ url_for('static', filename='grafx/banner.png') }}">
    </center>
    <div class=page>
        <div class=metanav>
        </div>
        {% for message in get_flashed_messages() %}
        <div class=flash>{{ message }}</div>
        {% endfor %}
        {% block body %}{% endblock %}
        </font>
    </div>
