{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    <table>
        <tr><td> Subject: </td><td> <input type=text size=30 name=subject> </td></tr>
        <tr><td> Your name: </td><td> <input type=text size=30 name=name>  </td></tr>
    </table>
    <center>
    <input type='image' src="{{ url_for('static', filename='grafx/gobutton.png') }}" height='45' width='120' alt='generate slideshow'>
</form>
<hr>
<h3> Most recent pReSeNtRations </h3>
<ul class=entries>
    {% for entry in entries %}
    <li>{{ entry.name }}: <a href="{{ url_for('static', filename=entry.url) }}">
        {{ entry.subject|safe }}</a>
    {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
</ul>
</center>
{% endblock %}
