{% extends "layout.html" %}
{% block body %}
<form action="{{ url_for('add_entry') }}" method=post class=add-entry>
    Subject: <input type=text size=30 name=project> <br/ >
    Your name: <input type=text size=30 name=name>  <br/ >
    <input type=submit value='generate slideshow'>
</form>
<hr>
<h3> Most recent pReSeNtRations </h3>
<ul class=entries>
    {% for entry in entries %}
    <li>{{ entry.name }}: {{ entry.project|safe }}
    {% else %}
    <li><em>Unbelievable.  No entries here so far</em>
    {% endfor %}
</ul>
{% endblock %}
